* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Cabinet Grotesk", sans-serif;
}

.main_container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.align {
  display: flex;
  align-items: center;
  gap: 3px;
}

.img-wrapper {
  height: 130px;
  width: 130px;
}

.img-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 15px;
}
